<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Brno.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2AA3FAEC2F29A47A00194DE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AA3FAF92F29A47B00194DE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AA3FB032F29A47B00194DE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
